body{
    margin: 0;
    padding: 0;
    background-color: rgb(46, 41, 41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
div{
    display: grid;
    justify-items: center;
}
h1, h2{
    color: beige;
}

button{
    padding: 2em;
    border-radius: 1em;
    background-color: beige;
    color:  rgb(46, 41, 41);
    border: 3px solid  rgb(46, 41, 41);
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
}
button:hover{
    background-color: rgb(46, 41, 41);
    color: beige;
    border: 3px solid  beige;
}